<h1>Editing Capability Request Resource Release</h1>

<%= render 'form', capability_request_resource_release: @capability_request_resource_release %>

<%= link_to 'Show', @capability_request_resource_release %> |
<%= link_to 'Back', capability_request_resource_releases_path %>
